/* 320++  */
.b-incoming-service {
    position: relative;
    z-index: 1;
    padding: 20px 20px 0px;
    
    &__list {
        font-size: 0;
        margin: 0px -20px 12px;
    }

    &__item {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        text-align: center;
        padding: 0px 5px;
        margin-bottom: 26px;
    }

    &__title {
        font-family: 'panton-light';
        font-size: 24px;
        line-height: 1;
        color: #004880;
        margin: 0;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
        
        &::before,
        &::after {
            content: '';
            background-color: #004880;
            opacity: 0.3;
            height: 1px;
            width: 100%;
        }

        &::before {
            margin-right: 10px;
        }

        &::after {
            margin-left: 10px;
        }
    }

    &__additional-info {
        p {
            font-size: 12px;
            line-height: 20px;
            color: #828282;
            text-align: center;
            margin: 0 0px 3px;
        }
    }
}