mixin tooltip(text, icon=true)
    +b('span').tooltip&attributes(attributes)
        +e.icon
            if icon
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="11" cy="11" r="9.5" stroke="#004880"/>
                    <path d="M12.8491 14.9206L12.6911 15.4921C12.217 15.6571 11.8386 15.782 11.556 15.8667C11.2735 15.9556 10.9454 16 10.5718 16C9.99713 16 9.54933 15.8772 9.22845 15.6317C8.91236 15.382 8.75431 15.0667 8.75431 14.6857C8.75431 14.5376 8.76628 14.3873 8.79023 14.2349C8.81418 14.0783 8.85249 13.9026 8.90517 13.7079L9.49425 11.854C9.54693 11.6762 9.59004 11.509 9.62356 11.3524C9.66188 11.1915 9.68103 11.0455 9.68103 10.9143C9.68103 10.6772 9.62596 10.5122 9.5158 10.419C9.40565 10.3259 9.19492 10.2794 8.88362 10.2794C8.73036 10.2794 8.57232 10.3005 8.40948 10.3429C8.25144 10.3852 8.11494 10.4254 8 10.4635L8.15805 9.89206C8.54598 9.75238 8.91715 9.63386 9.27155 9.53651C9.62596 9.43492 9.96121 9.38413 10.2773 9.38413C10.8472 9.38413 11.2854 9.50688 11.592 9.75238C11.9033 9.99365 12.0589 10.309 12.0589 10.6984C12.0589 10.7788 12.0469 10.9206 12.023 11.1238C12.0038 11.327 11.9655 11.5132 11.908 11.6825L11.319 13.5302C11.2711 13.6783 11.228 13.8476 11.1897 14.0381C11.1513 14.2286 11.1322 14.3725 11.1322 14.4698C11.1322 14.7153 11.1944 14.8825 11.319 14.9714C11.4435 15.0603 11.659 15.1048 11.9655 15.1048C12.1092 15.1048 12.272 15.0836 12.454 15.0413C12.636 14.9947 12.7677 14.9545 12.8491 14.9206ZM13 7.16825C13 7.48995 12.8611 7.76508 12.5833 7.99365C12.3103 8.21799 11.9799 8.33016 11.592 8.33016C11.204 8.33016 10.8712 8.21799 10.5934 7.99365C10.3156 7.76508 10.1767 7.48995 10.1767 7.16825C10.1767 6.84656 10.3156 6.57143 10.5934 6.34286C10.8712 6.11429 11.204 6 11.592 6C11.9799 6 12.3103 6.11429 12.5833 6.34286C12.8611 6.57143 13 6.84656 13 7.16825Z" fill="#004880"/>
                </svg>
            else 
                | ?

        +e.text !{text}