mixin about()
    .b-container
        +b('section').about
            +e.text-info
                +e('p').text Страховая компания &laquo;Абсолют Страхование&raquo;&nbsp;&mdash; универсальная страховая компания федерального уровня, более 27&nbsp;лет на&nbsp;рынке. Мы&nbsp;входим в&nbsp;Инвестиционную группу АБСОЛЮТ. Активы компании&nbsp;&mdash; 6,7 млрд рублей, уставный капитал 1,02 млрд рублей.

                +e('p').text Деятельность компании основывается на&nbsp;принципах открытости и&nbsp;максимального внимания к&nbsp;потребностям каждого клиента. Компания ставит своей целью обеспечение наивысшего уровня комфорта для тех, кто доверяет нам защиту своих рисков!

            +e('ul').list
                +e.item
                    +e.icon 27

                    +e('p').item-text Лет мы&nbsp;работаем в&nbsp;страховании
                
                +e.item
                    +e.icon ruA+

                    +e('p').item-text Рейтинг надежности Абсолют Страхование
                
                +e.item
                    +e.icon 24/7

                    +e('p').item-text На связи с нашими клиентами

                +e.item
                    +e.icon
                        <svg width="75" height="86" viewBox="0 0 75 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M71 4H4V66.6337L38 81.5L71 66.6337V4Z" stroke="#41B6E6" stroke-width="8"/>
                            <path d="M23 44.1698L36.6533 53L55 27" stroke="#41B6E6" stroke-width="8"/>
                        </svg>

                    +e('p').item-text Комплексная защита в&nbsp;любых ситуациях


                
            
