// 1360+
.b-header {

    &__tel {
        vertical-align: bottom;
        margin-bottom: 0;
        margin-left: 0;
    }

    &__nav {
        display: inline-block;
        vertical-align: bottom;
        margin-left: 115px;
    }
}