/* 768++  */
.b-telephone {
    font-size: 24px;

    &--in-nav {
        display: none;
    }

    &--footer {
        font-size: 36px;
        font-family: 'panton-light';
        letter-spacing: 1px;
    }
}