/* 768++  */
.b-scope {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    &__item {
        margin: 0;

        &:first-child,
        &:last-child {
            width: 170px;
        }
    }
}