/* 768++  */
.b-nav-footer {

    &__name {
        font-size: 24px;
    }

    &:not(.b-nav-footer--address) &__item {
        &:nth-last-child(1), 
        &:nth-last-child(2) {
            .b-nav-footer__name {
                font-size: 16px;
            }
        }
    }

    &__item {
        .b-nav-footer--address & {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}