@font-face {
    font-family: "futura-bold";
    font-display: swap;
    src: url("../fonts/futura-bold.eot");
    src: url("../fonts/futura-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/futura-bold.woff") format("woff"),
        url("../fonts/futura-bold.woff2") format("woff2"),
        url("../fonts/futura-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "futura-book";
    font-display: swap;
    src: url("../fonts/futura-book.eot");
    src: url("../fonts/futura-book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/futura-book.woff") format("woff"),
        url("../fonts/futura-book.woff2") format("woff2"),
        url("../fonts/futura-book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "futura-demi";
    font-display: swap;
    src: url("../fonts/futura-demi.eot");
    src: url("../fonts/futura-demi.eot?#iefix") format("embedded-opentype"),
        url("../fonts/futura-demi.woff") format("woff"),
        url("../fonts/futura-demi.woff2") format("woff2"),
        url("../fonts/futura-demi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "panton-black";
    font-display: swap;
    src: url("../fonts/panton-black.eot");
    src: url("../fonts/panton-black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/panton-black.woff") format("woff"),
        url("../fonts/panton-black.woff2") format("woff2"),
        url("../fonts/panton-black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "panton-light";
    font-display: swap;
    src: url("../fonts/panton-light.eot");
    src: url("../fonts/panton-light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/panton-light.woff") format("woff"),
        url("../fonts/panton-light.woff2") format("woff2"),
        url("../fonts/panton-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}