//- Используем стандартный шаблон Project
extends ./template/base_layout

include ./section/scope
include ./section/about
include ./section/variant-calculation
include ./section/ui-kit/input
include ./section/ui-kit/button

block variables
    - var file_name = 'main'

//- Модифицируем head
block head
    - var pageTitle = 'Главная страница';

//- Выводим попапы
block popup

//- Выводим content
block content
    +b('section').presentation
        +e.image-wrapper(style="background-image: url('./images/content/presentation.jpg');")
        
        +e.content
            +e.for-someone
                +e('p').for-someone-text Для пользователей 
                +e('img')(src="./images/content/logotype-additional-company.png", alt="Логотип слетать.ру").logo-add-company
            
            +e.proposal
                +e('h1').proposal-title Страховой полис
                +e.proposal-price
                    | от 
                    span 956 
                    | руб.*

            include section/incoming-service.pug
            +incoming-service([{
                name: 'Покрытие', 
                price: '1 млн €/$'
            }, {
                name: 'Отмена поездки**',
                price: '3500 €/$'
            }, {
                name: 'Багаж',
                price: '750 €/$'
            }, {
                name: 'Задержка рейса',
                price: '500 €/$'
            }])


    +scope()
    include section/variant-calculation.pug
    +variant-calculation([{
        name: "Полис путешественника (ВЗР) <br> с покрытием до <span>1 000 000 €/$</span>", 
        src: "./images/content/travel-policy.jpg", 
        alt: "Семья отправляется в путешествие", 
        icon: '<svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="38" cy="38" r="36.5" fill="white" stroke="#004880" stroke-width="3"/><path fill-rule="evenodd" clip-rule="evenodd" d="M25.3325 43.1558H55.6241C57.7539 43.1558 59.4783 41.3898 59.4783 39.209C59.4783 37.0287 57.753 35.2622 55.6241 35.2622H25.3325C23.2027 35.2622 21.4783 37.0283 21.4783 39.209C21.4783 41.3893 23.2036 43.1558 25.3325 43.1558ZM25.3325 45.9749C21.6831 45.9749 18.7247 42.9465 18.7247 39.209C18.7247 35.4723 21.6809 32.4431 25.3325 32.4431H55.6241C59.2735 32.4431 62.2319 35.4715 62.2319 39.209C62.2319 42.9457 59.2757 45.9749 55.6241 45.9749H25.3325Z" fill="#46ABD5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M18.012 51.0494L23.1976 39.2282L18.012 27.3687H16.5218V51.0494H18.012ZM13.7681 53.8685V24.5496H19.8415L26.2751 39.2282L19.8415 53.8685H13.7681Z" fill="#243B6D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M41.8353 61.355L48.4296 39.2282L41.8353 17.102H38V61.355H41.8353ZM35.2464 64.0174V14.4008H43.9176L51.3705 39.2282L43.9176 64.0174H35.2464Z" fill="#243B6D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M33.2864 56.3691C33.2864 57.5142 32.381 58.4422 31.2624 58.4422C30.1434 58.4422 29.2369 57.5142 29.2369 56.3691C29.2369 55.2251 30.1434 54.297 31.2624 54.297C32.381 54.297 33.2864 55.2251 33.2864 56.3691Z" fill="#46ABD5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M33.2864 62.089C33.2864 63.233 32.381 64.1611 31.2624 64.1611C30.1434 64.1611 29.2369 63.233 29.2369 62.089C29.2369 60.9422 30.1434 60.0142 31.2624 60.0142C32.381 60.0142 33.2864 60.9422 33.2864 62.089Z" fill="#46ABD5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M32.6123 16.214C32.6123 17.3597 31.7052 18.2883 30.5878 18.2883C29.4704 18.2883 28.5623 17.3597 28.5623 16.214C28.5623 15.0694 29.4704 14.1414 30.5878 14.1414C31.7052 14.1414 32.6123 15.0694 32.6123 16.214Z" fill="#46ABD5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M32.6123 21.9334C32.6123 23.0791 31.7052 24.0054 30.5878 24.0054C29.4704 24.0054 28.5623 23.0791 28.5623 21.9334C28.5623 20.7888 29.4704 19.8596 30.5878 19.8596C31.7052 19.8596 32.6123 20.7888 32.6123 21.9334Z" fill="#46ABD5"/></svg>',
        ribbon: 'Принимается консульствами всех стран!'
    }, {
        name: 'Переходи на новый <br> уровень «Апгрейд»', 
        src: './images/content/upgrade-level.jpg', 
        alt: 'Семья едет в отпуск',
        tooltip: 'Расширение страховой суммы по медицине до 1 миллиона Евро'
    }, {
        name: 'Страхование <br> квартиры', 
        src: './images/content/insurance-apartment.jpg', 
        alt: 'Семья с хорошим настроением распаковывавет коробки в своей квартире', 
        icon: '<svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="38" cy="38" r="36.5" fill="white" stroke="#004880" stroke-width="3"/><path d="M18.6312 52.2419L10.2034 48.2244L9.00002 50.6328L17.4278 54.6503L18.6312 52.2419Z" fill="#1E4382"/><path d="M21.2971 47.7725L15.2363 44.884L14.0332 47.2924L20.094 50.1809L21.2971 47.7725Z" fill="#1E4382"/><path d="M32.0985 37.4279H32.0974C30.0113 37.4268 27.8828 36.9387 25.9435 36.0133C22.9269 34.5754 20.5819 32.2222 19.3403 29.3857C18.0678 26.4822 18.0955 23.4231 19.4224 20.7719C21.2002 17.2119 25.0929 15 29.5811 15C31.6673 15 33.7958 15.4892 35.7345 16.414C38.7511 17.8514 41.0967 20.2057 42.3377 23.0412C43.6097 25.9452 43.5787 29.0048 42.255 31.656C40.4756 35.2171 36.5845 37.4279 32.0985 37.4279ZM29.5817 17.6809C26.1518 17.6809 23.2042 19.3159 21.8876 21.9485C20.9196 23.8884 20.9098 26.1566 21.8631 28.3334C22.8453 30.5777 24.7226 32.4507 27.1464 33.6055C28.7143 34.3539 30.4257 34.7475 32.098 34.7475H32.099C35.5279 34.7486 38.4743 33.1125 39.7888 30.4815C40.76 28.5395 40.7687 26.2729 39.816 24.0956C38.8333 21.8513 36.9565 19.9788 34.5321 18.823C32.9654 18.0761 31.2534 17.6809 29.5817 17.6809Z" fill="#3CB4E7"/><path d="M27.7796 35.398L25.314 34.2227L14.6726 55.5205L17.1383 56.6959L27.7796 35.398Z" fill="#3CB4E7"/><path d="M48.558 56.8938C39.8448 56.8938 32.5271 50.5079 31.5384 42.038C31.0207 37.593 32.3047 33.216 35.1565 29.7144C38.0072 26.2123 42.0843 24.0041 46.6361 23.4974C47.286 23.4251 47.9457 23.3879 48.5972 23.3879C57.3104 23.3879 64.6287 29.7734 65.6162 38.2427C66.6876 47.4201 59.9164 55.7374 50.5212 56.7839C49.8703 56.8566 49.2101 56.8938 48.558 56.8938ZM48.5972 26.0694C48.0485 26.0694 47.4949 26.1002 46.9456 26.1608C39.0536 27.0393 33.3641 34.0266 34.2652 41.7353C35.0956 48.8484 41.2403 54.2129 48.558 54.2129C49.1073 54.2129 49.6609 54.1821 50.2102 54.1205C58.1022 53.2424 63.7912 46.2546 62.889 38.5465C62.0596 31.4333 55.9155 26.0694 48.5972 26.0694Z" fill="#1E4382"/><path d="M40.4206 28.5506C40.307 29.2173 40.096 29.8653 39.7882 30.4805C38.4737 33.1114 35.5278 34.7475 32.0985 34.7464H32.0974C30.4251 34.7464 28.7131 34.3523 27.1458 33.6049C24.722 32.4496 22.8447 30.5771 21.8625 28.3328C20.9092 26.155 20.9196 23.8884 21.887 21.9474C23.2036 19.3154 26.1512 17.6809 29.5805 17.6809C31.2533 17.6809 32.9653 18.0756 34.5315 18.8219C36.9559 19.9783 38.8327 21.8507 39.8154 24.095C40.0155 24.5545 40.1721 25.0182 40.2863 25.4814C41.0977 25.0432 41.9423 24.6671 42.8211 24.3627C42.6878 23.9202 42.5307 23.4794 42.3376 23.0417C41.0966 20.2056 38.7511 17.8519 35.7345 16.4135C33.7957 15.4897 31.6672 15.0005 29.5805 15.0005C25.0934 15.0005 21.2002 17.2124 19.4224 20.7719C18.0955 23.4231 18.0672 26.4822 19.3403 29.3862C20.5813 32.2217 22.9268 34.5759 25.944 36.0133C27.8827 36.9387 30.0112 37.4268 32.0974 37.4279H32.0985C36.5845 37.4279 40.475 35.2166 42.255 31.656C42.9739 30.217 43.3084 28.6569 43.2632 27.0676C42.2517 27.4601 41.2984 27.9589 40.4206 28.5506Z" fill="#3CB4E7"/><path d="M42.6183 40.0839C40.2054 40.0839 38.2411 38.1663 38.2411 35.8078C38.2411 33.4509 40.2054 31.5322 42.6183 31.5322C45.0318 31.5322 46.995 33.4509 46.995 35.8078C46.995 38.1658 45.0324 40.0839 42.6183 40.0839ZM42.6183 34.2126C41.7183 34.2126 40.9858 34.9281 40.9858 35.8078C40.9858 36.6885 41.7183 37.403 42.6183 37.403C43.5194 37.403 44.2525 36.688 44.2525 35.8078C44.2525 34.9281 43.5194 34.2126 42.6183 34.2126Z" fill="#1E4382"/><path d="M54.5368 48.7508C52.1233 48.7508 50.1595 46.8321 50.1595 44.4736C50.1595 42.1167 52.1228 40.1986 54.5368 40.1986C56.9503 40.1986 58.9146 42.1167 58.9146 44.4736C58.9146 46.8321 56.9503 48.7508 54.5368 48.7508ZM54.5368 42.879C53.6357 42.879 52.9032 43.5961 52.9032 44.4742C52.9032 45.3544 53.6357 46.0704 54.5368 46.0704C55.4374 46.0704 56.171 45.3544 56.171 44.4742C56.171 43.5956 55.4374 42.879 54.5368 42.879Z" fill="#1E4382"/><path d="M54.9635 32.0848L52.5914 30.7371L42.1943 48.1962L44.5664 49.5439L54.9635 32.0848Z" fill="#1E4382"/></svg>'
    }, {
        name: 'Страхование <br> от несчастного случая', 
        src: './images/content/accident-insurance.jpg', 
        alt: 'Молодая пара катается на велосипеде', 
        icon: '<svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="38" cy="38" r="36.5" fill="white" stroke="#004880" stroke-width="3"/><path fill-rule="evenodd" clip-rule="evenodd" d="M38.984 53.6027C37.2591 51.8795 36.3098 49.5874 36.3098 47.1483C36.3098 44.7104 37.2591 42.4177 38.9834 40.6945C42.2248 37.4526 47.3175 37.1637 50.8909 39.8273C52.4573 38.6552 54.3518 38.0209 56.344 38.0209C58.7819 38.0209 61.0746 38.9707 62.7984 40.695C64.5228 42.4183 65.472 44.7104 65.472 47.1483C65.472 49.5874 64.5228 51.8795 62.7984 53.6027L60.7963 51.5995C61.985 50.4113 62.6393 48.8311 62.6393 47.1483C62.6393 45.4667 61.985 43.8865 60.7963 42.6977C59.607 41.5084 58.0257 40.8536 56.344 40.8536C54.6623 40.8536 53.0821 41.5084 51.8939 42.6972L50.8926 43.6991L49.8907 42.6977C47.4344 40.2426 43.4407 40.2431 40.9861 42.6972C39.7968 43.8865 39.1414 45.4667 39.1414 47.1483C39.1414 48.8305 39.7968 50.4107 40.9856 51.5995L38.984 53.6027Z" fill="#46ABD5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M50.892 65.5363L38.8598 53.5046L40.8625 51.5024L50.892 61.5303L60.9205 51.5024L62.9226 53.5046L50.892 65.5363Z" fill="#46ABD5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M37.3195 62.6448C32.1642 62.6448 27.9703 58.4503 27.9703 53.295V34.1796H30.803V53.295C30.803 56.889 33.7261 59.8126 37.3195 59.8126C40.9135 59.8126 43.8377 56.889 43.8377 53.295V50.3913H46.6693V53.295C46.6693 58.4503 42.4754 62.6448 37.3195 62.6448Z" fill="#243B6D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M29.2982 35.5962C22.7573 35.5962 17.4356 30.274 17.4356 23.7325H20.2684C20.2684 28.7121 24.3192 32.7635 29.2982 32.7635C34.2772 32.7635 38.3281 28.7121 38.3281 23.7325H41.1602C41.1602 30.274 35.8391 35.5962 29.2982 35.5962Z" fill="#243B6D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M45.3503 45.8565C44.6661 45.8565 44.1094 46.4132 44.1094 47.0979C44.1094 47.7805 44.6661 48.3366 45.3503 48.3366C46.0339 48.3366 46.5906 47.7805 46.5906 47.0979C46.5906 46.4132 46.0339 45.8565 45.3503 45.8565ZM45.3503 51.1682C43.1042 51.1682 41.2772 49.3429 41.2772 47.0979C41.2772 44.8518 43.1042 43.0249 45.3503 43.0249C47.5952 43.0249 49.4222 44.8518 49.4222 47.0979C49.4222 49.3429 47.5952 51.1682 45.3503 51.1682Z" fill="#243B6D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M42.0269 18.875C42.0269 20.0016 41.1137 20.9148 39.9903 20.9148C38.8637 20.9148 37.9505 20.0016 37.9505 18.875C37.9505 17.75 38.8637 16.8368 39.9903 16.8368C41.1137 16.8368 42.0269 17.75 42.0269 18.875Z" fill="#46ABD5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.9581 18.875C20.9581 20.0016 20.0444 20.9148 18.9199 20.9148C17.7938 20.9148 16.8812 20.0016 16.8812 18.875C16.8812 17.75 17.7938 16.8368 18.9199 16.8368C20.0444 16.8368 20.9581 17.75 20.9581 18.875Z" fill="#46ABD5"/></svg>'
    }])
    +about()

    +b('section').feedback#feedback
        .b-container
            +e('h3').title У вас остались вопросы? 
            +e('p').text Получите консультацию специалиста в течение 5 минут

            +e('from').form
                +e.form-item
                    //- input(id, type, placeholder, name, value, autocomplete, error, label)
                    +input('feedback-name', 'text', 'Введите ваше имя', 'feedback-name')
                +e.form-item
                    +input('feedback-telephone', 'tel', 'Введите ваш телефон', 'feedback-telephone')
                +e.form-item
                    +button('button', 'Получить консультацию').--feedback

            +e.personal
                +e.personal-icon
                +e.personal-info
                    +e.personal-text Нажимая на кнопку, вы даете согласие
                    +e.personal-data
                        +e('a')(href="#", title="Правила обработки персональных данных").personal-link на обработку персональных данных